footer{
	text-align: center;
	background-color: yellow
}

}
title{
	text-align: center;
}
h1{
	text-align: center;
	background-color: yellow
}
body{
	float: right 70%
}

}
#menu{
	float: left 30%
}
#texto{
	float: right 70%
}
